In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                   title  year
0  A New York Love Story  2015
1             Blue Flame  1993
2        Around the Town  1938
3  Dimensions of Failure  2010
4           Ceiling Zero  1936

In [4]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [14]:
h = cast.head()
h[h.n.notnull()]

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4  31.0
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0

### How many movies are listed in the titles dataframe?

In [16]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [17]:
titles.sort_values(by='year').head(2)

                    title  year
10100          Miss Jerry  1894
49233  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [18]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [20]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [21]:
titles[titles.title == 'Hamlet'].sort_values(by='year').head(1)

         title  year
168403  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
titles[titles.title == 'Treasure Island'].sort_values(by='year')

                  title  year
120573  Treasure Island  1918
202418  Treasure Island  1920
48531   Treasure Island  1934
169346  Treasure Island  1950
1480    Treasure Island  1972
222328  Treasure Island  1973
101081  Treasure Island  1985
52877   Treasure Island  1999

### How many movies were made in the year 1950?

In [23]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [25]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [26]:
len(titles[(titles.year>=1950) & (titles.year<=1959)])

12934

In [28]:
t = titles
len(t[t.year//10 == 195])

12934

### In what years has a movie titled "Batman" been released?

In [30]:
t = titles
t[t.title == 'Batman']

         title  year
144536  Batman  1943
187354  Batman  1989

### How many roles were there in the movie "Inception"?

In [32]:
c = cast
len(c[c.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [33]:
c.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [35]:
len(c[(c.title=='Inception') & (c.n.isnull())])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [36]:
c = cast
len(c[(c.title=='Inception') & (c.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [39]:
c = cast
c = c[(c.title=='North by Northwest')]
c = c[c.n.notnull()]
c = c.sort_values(by='n')
c

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [40]:
c = cast
c = c[(c.title=='Sleuth') & (c.year==1972)]
c.sort_values(by='n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [42]:
c = cast
c = c[(c.title=='Sleuth') & (c.year==2007)]
c = c.sort_values(by='n')
c

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [44]:
c = cast
c = c[(c.title=='Hamlet') & (c.year==1921)]
len(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [46]:
c = cast
c = c[(c.title=='Hamlet') & (c.year==1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [49]:
c = cast
c = c[c.character=='Hamlet']
len(c)

96

### How many people have played an "Ophelia"?

In [57]:
c = cast
c = c[c.character=='Ophelia']
# len(c.name)
c.name.nunique()

115

### How many people have played a role called "The Dude"?

In [58]:
c = cast
c[c.character=='The Dude'].name.nunique()

19

### How many people have played a role called "The Stranger"?

In [61]:
c = cast
c[c.character=='The Stranger'].name.nunique()

202

### How many roles has Sidney Poitier played throughout his career?

In [63]:
c = cast
len(c[c.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [64]:
c = cast
len(c[c.name == 'Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [67]:
c = cast
c = c[(c.name=='Cary Grant') & (c.n==2)]
c = c[c.year//10 == 194].sort_values(by='year')
c

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [68]:
c = cast
c = c[(c.name=='Cary Grant') & (c.n==1)]
c = c[c.year//10 == 194].sort_values(by='year')
c

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [70]:
c = cast
c = c[(c.type=='actor') & (c.year//10==195)]
len(c)

157738

### How many roles were available for actresses in the 1950s?

In [74]:
c = cast
c = c[(c.type == 'actress') & (c.year//10 == 195)]
len(c)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [76]:
c = cast
c = c[(c.year <= 1980) & (c.n==1)]
len(c)

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [77]:
c = cast
c = c[(c.year <= 1980) & (c.n != 1)]
len(c)

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [78]:
c = cast
c = c[(c.year <= 1980) & (c.n.isnull())]
len(c)

448347